NEXT_PUBLIC_API_URL=<BACKEND-URL>
FRONTEND_URLS=<FRONTEND-URLS-COMMA-SEPARATED>
STORAGE_TABLE=crud
AWS_DEFAULT_REGION=<AWS-DEFAULT-REGION>
AWS_ACCESS_KEY_ID=<AWS-ACCESS-KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS-SECRET-ACCESS-KEY>
LOG_LEVEL=<LEVEL>
AWS_USER_ID=<AWS-USER-ID>
S3_BUCKET_NAME=next-js-<YOUR-TEAM>.2026-spring.ccbda.upc.edu
CLOUDFRONT_ID=<CLOUDFRONT-ID>
ECR_REPOSITORY=backend-webapp-docker-repo
ELASTIC_BEANSTALK_APP_NAME=crud-backend-eb
ELASTIC_BEANSTALK_ENV_NAME=team<YOUR-TEAM>
TOKEN_GITHUB=<GITHUB-PERSONAL-ACCESS-TOKEN>